* {
    margin: 0;
    padding: 0;
}

body {
    color: #131313;
    font-size: 62.5%;
}

section {
    height: 100vh;
    position: relative;
}

h1 {
    display: block;
    font-family: brandon-grotesque, sans-serif;
    font-size: 4rem;
    font-style: italic;
    font-weight: 900;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #131313;
        color: #fff;
    }
}

@media (max-device-width: 640px) {
    h1 {
        font-size: 3rem;
    }
}

@media (max-device-width: 480px) {
    h1 {
        font-size: 3rem;
    }
}