* {
    margin: 0;
    padding: 0;
}

body {
    color: #131313;
    font-size: 62.5%;
}

section {
    height: 100vh;
    position: relative;
}

.site__title {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.site__heading {
    flex: 0 1 auto;
    font-family: brandon-grotesque, sans-serif;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
}

.site__subheading {
    flex: 0 1 auto;
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #131313;
        color: #fff;
    }
}

@media (max-device-width: 640px) {
    .site-heading {
        font-size: 3rem;
    }
}

@media (max-device-width: 480px) {
    .site-heading {
        font-size: 2.3rem;
    }
}