*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    color: #131313;
    font-size: 62.5%;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

/* ========================= */
/* Header                    */
/* ========================= */

.header{
    align-items: center;
    display: flex;
    height: 8rem;
    justify-content: space-between;
}

.header__logo {
    font-family: brandon-grotesque, sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
}

.header__logo a {
    color: #fff;
    text-decoration: none;
}

.header__nav ul {
    list-style-type: none;
    margin: 0;
    padding; 0;
}

.header__nav li {
    display: inline;
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    margin-right: 2rem;
    text-transform: uppercase;
}

.header__nav li:last-child {
    margin-right: 0;
}

.header__nav a {
    color: #fff;
    text-decoration: none;
}

.header__nav a:hover {
    border-bottom: 1px solid #fff;
}

/* ========================= */
/* Home                      */
/* ========================= */

.site__title {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 1.75rem);
    justify-content: center;
    margin-top: 1.75rem;
}

.site__heading {
    flex: 0 1 auto;
    font-family: brandon-grotesque, sans-serif;
    font-size: 5rem;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.site__subheading {
    flex: 0 1 auto;
    font-family: adobe-caslon-pro, serif;
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
}

.site__links {
    display: flex;
    padding-top: 3.5rem;
}

.site__link {
    border: 1px solid #131313;
    border-radius: 2rem;
    color: #131313;
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin-right: 2rem;
    padding: .1rem 3rem;
    text-align: center;
    text-decoration: none;
}

.site__link:last-child {
    margin-right: 0;
}

.site__link:hover {
    background-color: #131313;
    color: #fff;
}

/* ========================= */
/* Blog                      */
/* ========================= */

.post__header {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.post__header hr {
    border-top: 1px solid #fff;
    width: 10%;
}

.post__title {
    font-family: adobe-caslon-pro, serif;
    font-size: 4rem;
    font-weight: 700;
    /* text-transform: uppercase; */
}

.post__dateline {
    font-family: brandon-grotesque, sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.post__content {
    font-family: neue-haas-unica, sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #131313;
        color: #fff;
    }

    .site__link {
        border-color: #fff;
        color: #fff;
    }

    .site__link:hover {
        background-color: #fff;
        color: #131313;
    }
}

@media (max-device-width: 640px) {
    .site__heading {
        font-size: 3rem;
    }

    .site__subheading {
        font-size: 1.2rem;
    }
}

@media (max-device-width: 480px) {
    .site__heading {
        font-size: 3rem;
        text-align: center;
    }

    .site__subheading {
        font-size: 1.2rem;
    }

    .site__links {
        flex-direction: column;
    }

    .site__link {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .site__link:last-child {
        margin-bottom: 0;
    }
}